/* #progress
--------------------------------------------------*/

.progress-bar, .progress
{
	height:1px;
	border:none;
	box-shadow:none;
	-webkit-box-shadow: none;

}

.progress-title
{
	font-weight:700; 
	text-transform:uppercase;
	margin:6px 0 10px;
}

.progress-value
{
	font-weight:700;
	display:none;
	
}

.circular-cont
{
	width:150px;
	height:150px;
	display:block;
}


.icon-circular
{
	color:#444;
	width:150px;
	height: 150px;
	display: table; 
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	@include border-radius(100px);
}

.icon-circular {

	i {
		display: table-cell; 
		vertical-align: middle;
		text-align:center;
		opacity:0;
	}
	
	.icon-char {
		display: table-cell; 
		vertical-align: middle;
		text-align:center;
	}
}

.circular-text
{
	font-size:13px;
	text-transform:uppercase;
	font-weight:700;
	margin-top:0;

}

@media(max-width:767px){
.circular-line
{
	width:20%; 
	margin:9px auto 5px; 
	border-top:1px solid #e1e1e1;
	@include transition-fade(0.2s)

}
}

@media(min-width:768px){
.circular-line
{
	width:50%; 
	margin:9px auto 5px; 
	border-top:1px solid #e1e1e1;
	@include transition-fade(0.2s)

}
}

.section-background-light .circular-line
{
	border-top:1px solid #ddd;
}

@media(min-width:768px){
	.po-column .hover-ani:hover .circular-line
	{
		width:70%; 
	
	}
}

.dial
{
	opacity:0;
}