/* #team
--------------------------------------------------*/

.team-role {
	font-size: 16px;
	font-weight:600;
	color: #333;
	margin-bottom:30px
}

.team-role span {
	display:inline-block;
	margin-left:4px;
	margin-right:4px;
	width:9px;
	height:9px;
	background:url(images/cat-sep.png) no-repeat;
}